<div class="container">
    <div class="row">
        <mat-card-title>Iniciar sesión</mat-card-title>
    </div>
    <br><br>
    <div class="row">
        <app-login-form
            [pShowText]="mShowText" 
            (formDataMail)="loginWithMail($event)"
            (Google)="loginWithGoogle()"
            (Facebook)="loginWithFacebook()"
            (Twitter)="loginWithTwitter()">
        </app-login-form>
    </div>
    <br><br><br>
    <div class="row">
        <a mat-button routerLink="/account/registration">Registrarse</a>
    </div>
</div>
